 <!-- Page Header -->
    <header class="masthead" style="background-image: url('../../assets/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Saved Articles</h1>
              <span class="subheading">Browse and save notes.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

              {{#each saved}}
              <div class='card'>
                <div class='card-body'>
                  <h3 class='card-title'>{{this.title}}</h3>
                  <h5>{{this.byline}}</h5>
                  <img src='{{this.img}}' id='article-img'><br />
                  <p id='article-sum'>{{this.summary}}</p>
                  <a href='{{this.link}}' target='_blank'><button class='btn btn-primary'>Read</button></a>
                  <button type='button' class='btn btn-modal btn-primary' data-id='{{this._id}}' data-toggle='modal' data-target='#noteModal'>Notes</button>
                  <form id="save-form" action="/save/{{this._id}}" method="POST">
                  <button type="submit" class="btn btn-modal btn-primary" id="status" value="{{this.status}}">{{this.status}}</button>
                  </form>
                </div>
              </div>
            {{/each}}
          
          <hr>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="/">More Articles &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>